@model HomeAutomation.DataAccess.Entity.Device

@{
    ViewBag.Title = "ListComponent";
}

<h2>ListComponent</h2>

<a href="~/Component/Create/@Model.Id">Add new component</a>
<div id="Form">
    <table>
        <tr>
            <td>Name</td>
            <td>Description</td>
            <td>Type</td>
            <td>CurrentValue</td>
            <td>LastContact</td>
            <td>Action</td>
        </tr>

        @foreach (var component in Model.Components) {
            <tr>
                <td>@component.Name</td>
                <td>@component.Description</td>
                <td>@component.Type.Category</td>
                <td>@component.CurrentValue</td>
                <td>@component.LastContact</td>
                <td><a href="~/Component/Details/@component.Id">Details</a><a href="~/Component/Edit/@component.Id">Edit</a> <a href="~/Component/Delete/@component.Id">Delete</a></td>
            </tr>
        }

    </table>
</div>
